.error {
    text-align: center;
    margin: 80px 100px 0px 100px;
    color: #FFFFFF;
}

.alert404 {
    font-size: 175px;
    font-weight: 700;
    margin: 0;
}

.description {
    margin: 0 0 20px 0;
    font-size: 36px;
    font-weight: 500;
}

a {
    color: #FFFFFF;
}

@media all and (min-width: 376px) and (max-width: 550px) {
    .error {
        margin: 80px 50px 50px 50px;
    }

    .alert404 {
        font-size: 130px;
        font-weight: 700;
    }

    .description {
        margin: 0 0 20px 0;
        font-size: 24px;
    }
}

@media all and (max-width: 375px) {
    .error {
        margin: 100px 20px 20px 20px;
    }

    .alert404 {
        font-size: 100px;
        font-weight: 700;
        margin: 0 0 20px 0;
    }

    .description {
        margin: 0 0 20px 0;
        font-size: 18px;
    }
}
